<div class="container-fluid" id="maincontainer">
  <div class="row-fluid offset4">
    <div class="span6" id="eventcontainer">
      <%= render :partial => 'event/events' %>
    </div>
    <div class="span3" id="statscontainer">
      <div class="box rounded stats">
        <p>Stats from Rotten Tomatoes API here.</p>
      </div>
    </div>
  </div>
</div>
<div id="bottom"><p>More about this</p></div>

