<div class="container-fluid" id="maincontainer">
  <div class="row-fluid offset4">
    <div class="span6" id="eventcontainer">
      <div class="row-fluid">
        <div class="box rounded entry span11">
          <button class="btn btn-danger" data-toggle="collapse" data-target="#demo">
            Get the Gringo
          </button>

          <div id="demo" class="collapse in">
            <iframe id="video" src="http://www.youtube.com/embed/7ku_AOOdvW8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="box rounded entry span11">
          <button class="btn btn-danger" data-toggle="collapse" data-target="#demo1">
            Get the Gringo
          </button>

          <div id="demo1" class="collapse">
            <iframe id="video1" src="http://www.youtube.com/embed/7ku_AOOdvW8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="box rounded entry span11">
          <button class="btn btn-danger" data-toggle="collapse" data-target="#demo2">
            Get the Gringo
          </button>

          <div id="demo2" class="collapse">
            <iframe id="video2" src="http://www.youtube.com/embed/7ku_AOOdvW8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="span3" id="statscontainer">
      <div class="box rounded stats">
        YOLO
      </div>
    </div>
  </div>
  <div id="bottom">More about this</div>
</div>

