<div class="container-fluid offset6" id="maincontainer">
  <div class="span10" id="eventcontainer">
    <div class="row-fluid">
      <div class="box rounded entry span11">
        <button class="btn btn-danger" data-toggle="collapse" data-target="#demo">
          Get the Gringo
        </button>

        <div id="demo" class="collapse in">
          <iframe id="video" src="http://www.youtube.com/embed/7ku_AOOdvW8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="box rounded entry span11">
        <button class="btn btn-danger" data-toggle="collapse" data-target="#demo1">
          Get the Gringo
        </button>

        <div id="demo1" class="collapse">
          <iframe id="video1" src="http://www.youtube.com/embed/7ku_AOOdvW8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="box rounded entry span11">
        <button class="btn btn-danger" data-toggle="collapse" data-target="#demo2">
          Get the Gringo
        </button>

        <div id="demo2" class="collapse">
          <iframe id="video2" src="http://www.youtube.com/embed/7ku_AOOdvW8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="span4" id="statscontainer">
    <div class="box rounded stats span4">
      YOLO
    </div>
  </div>
</div>
