<div class="row-fluid">
  <div class="box rounded entry span11">
    <button class="btn btn-toolbar" data-toggle="collapse" data-target="#eventinfo">
      <%= @Event.name %>
    </button>
    <div id="eventinfo">
      <%= @Event.date %>
      <%= @Event.about%>
    </div>
  </div>
</div>