// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//html {background: url(image_path("get_gringo.jpeg")) no-repeat center center fixed; background-size: cover;}
html {background: rgba(127, 127, 127, 0.8);}
body {background: none;}

#maincontainer  {padding-top: 5%;}
.box      {border: none; background: rgba(200,200,255,0.5);}
.rounded  {border-radius: 5px;}
.entry    {margin-bottom: 5%;}
.stats    {min-height: 400px;}
.stats p  {padding-top: 50%; text-align: center;}
#video    {margin: 5%; min-width: 320px; width: 90%; min-height: 360px; height: 90%;}
#bottom   {position: absolute; bottom: 0; text-align: center; width: 100%; background: rgba(0,0,0,0.5); padding-bottom: 2%;}
#bottom p {color: white;}
.eventinfo{background: rgba(200, 255, 200, 0.5); margin-left: 2%; padding-left: 3%; width: 93%}